@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "poppins", "sans-serif";
}
body {
  background-color: rgb(49, 45, 45);
}

header {
  background: linear-gradient(rgb(124, 25, 25), rgb(20, 4, 4));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 40px 0px 40px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.logo {
  height: 40px;
}
.cart-icon {
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}
.navbar-list a {
  color: rgb(255, 255, 255);
  font-size: 13px;
}
.cart {
  position: absolute;
  top: 65px; /* porque el header ocupaba 65px de alto */
  padding: 50px 30px;
  right: 0;
  background: linear-gradient(orange, black);
  border-left: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  transform: translate(200%);
  transition: all 0.3s cubic-bezier(0.98, 0.04, 0.28, 0.92);
}
.cart::-webkit-scrollbar {
  display: none;
}
.cart h2 {
  text-align: center;
  color: #4d1f27;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-title {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.item-bid {
  color: #0f0c0c;
  font-size: 12px;
  font-weight: 300;
}
.item-price {
  background: linear-gradient(#bd0d0d, #000000);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}
.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantify-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}
.plus {
  background-color: #ff9900;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0px 1px;
  cursor: pointer;
}
.less {
  background-color: #ff9900;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0px 1px;
  cursor: pointer;
}
.item-quantity {
  color: rgb(0, 0, 0);
}
.divider {
  margin-top: 20px;
  border: 0.5px solid;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cart-total p {
  color: white;
  font-weight: 700;
}
.cart-total span {
  color: white;
  font-weight: 400;
  font-size: 18px;
} /* ocultar/mostrar el carrito */
#cart-edit,
#menu-toggle,
.menu-label {
  display: none;
}

.cart-label {
  height: 37px;
}

#cart-edit:checked + .cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.btn-add {
  border-radius: 5px;
  background: linear-gradient(rgb(241, 111, 5), rgb(85, 5, 5));
  color: white;
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  background: linear-gradient(gray, rgb(85, 5, 5));
  color: rgb(197, 197, 197);
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

/* Fin del carrito */

#hero {
  margin-top: 65px;
  padding: 65px 2px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-info h1 {
  font-size: 40px;
  width: 50%;
  min-width: 500px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background: linear-gradient(rgb(129, 27, 27), rgb(20, 4, 4));
  border-radius: 16px;
  text-decoration: underline;
}

.hero-info p {
  font-size: 12px;
  width: 70%;
  color: rgb(255, 255, 255);
}

.hero-info a {
  color: rgb(255, 255, 255);
  background-color: black;
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 13px;
  margin: 6px 200px;
}

.hover:hover {
  background: linear-gradient(black, orangered);
  transition: 0.3s;
}

.hero-cafe {
  width: 300px;
  background: linear-gradient(black, gray);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-cafe-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-cafe-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero-cafe-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero-cafe-top span {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
.hero-cafe-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.hero-cafe-price span {
  padding: 1px 1px;
  border-radius: 10px;
  background-color: #d86518;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin: 6px 65px;
}

#info {
  padding: 90px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}
#info h2 {
  font-size: 31px;
  font-weight: 600;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 1px 3px;
}
.info-cafe-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.info-cafe {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(gray, orangered);
  border-radius: 10px;
  gap: 20px;
}

.info-cafe img {
  width: 100px;
}
.info-cafe h3 {
  font-weight: 600;
  font-size: 18px;
}
.info-cafe p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

/* productos */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
#products h2 {
  color: white;
  background-color: black;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
  border-radius: 18px;
  padding: 0px 3px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.category {
  background-color: black;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 0;
  max-width: 1200px;
}
.product {
  background-color: rgb(148, 61, 3);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-top h3 {
  font-size: 16px;
  font-weight: 600;
}

.product img {
  height: 175px;
  width: 175px;
}

.product-mid span {
  font-weight: 800;
}

.btn-comprar {
  background: linear-gradient(rgb(77, 11, 199), black);
  border: none;
  padding: 4px 8px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Beneficios*/

#benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

#benefits h1 {
  color: white;
  background-color: black;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
  border-radius: 18px;
  padding: 0px 3px;
  margin-top: 80px;
}

.benefits-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  
}

.benefits-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  
}

.benefits-top,
.benefits-mid,
.benefits-bot {
  font-size: 600;
  background: linear-gradient(gray, rgb(31, 99, 24));
  border-radius: 15px;
  padding: 25px;
  width: 350px;
  height: 150px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info h1 {
  margin: 0 auto;
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 2px 3px;
  
}

.contact-info span {
  font-size: 400;
  text-align: center;
  color: white;
  background: linear-gradient(gray, rgb(0, 0, 0));
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  margin-top: 15px;
}
.contact-info button {
  background-color: #611a1a;
  width: 10%;
  margin: 0 auto;
margin-top: 25px;
cursor: pointer;
border-radius: 10px;
}

iframe {
  padding: 30px 0px;
  height: 350px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(49, 45, 45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0px;
}

footer a,
footer p {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 14px;
}
footer span {
  font-weight: 800;
}

.footer , .imagen {
  background-color: black;
  border-radius: 100%;
  width: 65px;
 
  
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}






