@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(31, 10, 10);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(rgb(99, 21, 21), rgb(0, 0, 0));
  z-index: 1;
  height: 65px;
}

.navbar-logo {
  width: 40px;
  padding: 2px 0px;
}

.profile {
  width: 40px;
  padding: 2px 0px;
}

.form-input {
  padding: 10px 25px;
  border-radius: 1rem;
  background-color: #252525;
  border: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-submit {
  background: linear-gradient(90deg, #000000, #a76316);
  color: white;
  text-align: center;
  width: 10%;
  padding: 10px 0px;
  font-weight: 600;
  margin-top: 30px;
  border-radius: 20px;
}

.btn-submit:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form-title {
  font-size: 400;
  margin-top: 80px;
  margin-bottom: 50px;
}

.main {
  max-width: 1200px;
  height: 75vh;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  margin-top: 250px;
  justify-content: center;
}

.footer {
  display: flex;
  margin-top: 55px;
  justify-content: center;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.footer-list a {
  color: white;
  font-size: 500;
}
